main.home {
  section.welcome-hld {
    .img-discover {
      position: absolute;
      width: 150px;
      bottom: -100px;
      left: 200px;
      transform-origin: bottom center;
      animation: shake-animation 4.72s ease infinite;
    }

    .bg-gradient {
      position: absolute;
      animation: slide 8s ease-in-out infinite alternate;
      background-image: linear-gradient(-60deg, rgba($white, 0) 0%, $primary 60%);
      bottom: 0;
      left: -50%;
      right: -50%;
      top: 0;
      opacity: 1;
      z-index: -10;
    } 

    .bg-img {
      position: relative;
      &::before {
        content: '';
        @include background('/assets/images/welcome-background.jpg');
        transform: skew(-10deg) scale(1.25);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -100;
        overflow: hidden;
      }
    }
    .welcome {
      display: flex;
      margin-top: 125px;
      margin-bottom: 75px;
      position: relative;
      > div {
        flex: 0.5;
        position: relative;
      }

      .content-hld {
        .img-instagram {
          position: absolute;
          top: 10%;
          left: 45%;
          z-index: -10;
          width: 200px;
          opacity: .5;
        }
        h1 {
          padding-right: 10px;
          font-size: 2.25rem;
          font-style: italic;
        }
        .action-hld {
          position: relative;
          button {
            z-index: 10;
          }
          img {
            position: absolute;
            top: -105px;
            right: -40px;
            width: 400px;
          }
        }
      }

      .photo-hld {
        h2 {
          position: absolute;
          right: 0;
          &:nth-child(1) {
            top: 0px;
            @include float(6s, 0s);
            @include text-shadow($accent, 3px);
          } 
          &:nth-child(2) {
            top: 70px;
            @include float(6s, 0.5s);
            @include text-shadow($secondary, 3px);
          } 
          &:nth-child(3) {
            top: 140px;
            @include float(6s, 1s);
            @include text-shadow($primary, 3px);
          } 
        }

        .img-container {
          position: relative;
          overflow: hidden;
          height: 100%;
          img {
            transform: skew(10deg) scale(1.25);
          }
        }
      }
    }
  }
  section.choose-hld {
    height: 80vh;
    &::after {
      @include background('/assets/images/chose-background.jpg');
    }
    .choose {
      display: flex;
      margin-top: 50px;
      > h2 {
        position: absolute;
        @include float(6s, 0s);
        @include text-shadow($accent, 3px);
      }
      .content-hld {
        flex: 1;
        display: flex;
        margin-top: 75px;
        > div.card {
          transition: 1s all cubic-bezier(.79,.26,.09,.89);
          opacity: 1;
          display: flex;
          flex-direction: column;
          flex: 1;
          transform: translate (0, 0);
          margin: 20px;
          overflow: hidden;
          .card-img-hld {
            position: relative;
            display: flex;
            flex: 0.5;
            height: 100%;
            overflow: hidden;
            h2 {
              position: absolute;
              z-index: 1;
              bottom: 0;
            }
            h2.bg-primary {
              @include text-shadow($primary, 3px);
            }
            h2.bg-accent {
              @include text-shadow($accent, 3px);
            }
            img {
              transform: skew(10deg) scale(1.2);
              object-fit: cover;
            }
          }

          .card-content-hld {
            display: flex;
            padding: 10px;
            flex: 0.5;
            flex-direction: column;
            justify-content: space-between;
            .card-content-list {
              li {
                display: flex;
                align-items: center;
                > img {
                  width: 25px;
                  height: 25px;
                  display: inline-block;
                  margin-right: 10px;
                }
              } 
            }
            button {
              transform: skew(0deg);
            }
          }
        }
      }
      .content-hld.hidden {
        > div {
          opacity: 0;
          &:nth-child(1) {
            transform: translateY(-30%);
          }
          &:nth-child(2) {
            transform: translateY(30%);
          }
        }
      }
    }
  }
  section.advantages-hld {
    height: 80vh;
    display: flex;
    align-items: center;
    @include background('/assets/images/advantages-background.jpg');
    .opt {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 50px;
      padding: 20px 0 20px 0;
      color: $white;
      @include text-shadow($accent, 3px);
      background: rgba(0,0,0,0.25);
      img {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
        // transform: skew(10deg);
      }
    }
  }
  section.next-hld {
    height: 80vh;
    flex: 1;
    justify-content: flex-end;
    &::after {
      @include background('/assets/images/next-background.jpg');
    }
    .part {
      display: flex;
      flex: 0.6;
      align-items: center;
      background-color: rgba(0,0,0,0.75);
      transform: translateX(10%) skew(-10deg);
      padding: 20px;
    }
  }

  section.footer-hld {
    height: 30vh;
    display: flex;
    flex: 1;
    .half {
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: center;
      &:nth-child(1) {
        flex: 0.7;
      }
      &:nth-child(2) {
        flex: 0.3;
        .logo {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@keyframes shake-animation {
  0% { 
    transform: rotate(6deg)
  }
  5% { 
    transform: rotate(0deg)
  }
  10% { 
    transform: rotate(6deg)
  }
  15% {
    transform: rotate(0deg)
  }
  20% {
    transform: rotate(6deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% { 
    transform: rotate(6deg)
  }
}