main.home {
  section.welcome-hld {
    .bg-gradient {
      position: absolute;
      animation: slide 15s ease-in-out infinite alternate;
      background-image: linear-gradient(-80deg, rgba($accent, 0.75) 50%, rgba($primary, 0.75) 50%);
      bottom: 0;
      left: -50%;
      right: -50%;
      top: 0;
      opacity: .5;
      z-index: -10;
    }
    
    .bg2 {
      animation-direction: alternate-reverse;
      animation-duration: 20s;
    }
    
    .bg3 {
      animation-duration: 25s;
    }
    .welcome {
      display: flex;
      margin-top: 100px;
      margin-bottom: 100px;
      div {
        flex: 0.5;
        position: relative;
      }

      .content-hld {
        h1 {
          padding-right: 10px;
          font-size: 2.25rem;
          font-style: italic;
        }
      }

      .photo-hld {
        h2 {
          padding: 10px;
          position: absolute;
          z-index: 100;
          right: 0;
          &:nth-child(1) {
            top: 0px;
            @include float(6s, 0s);
            @include text-shadow($accent, 3px);
          } 
          &:nth-child(2) {
            top: 70px;
            @include float(6s, 0.5s);
            @include text-shadow($secondary, 3px);
          } 
          &:nth-child(3) {
            top: 140px;
            @include float(6s, 1s);
            @include text-shadow($primary, 3px);
          } 
        }
  
        .img-container {
          overflow: hidden;
          height: 100%;
          img {
            transform: skew(10deg) scale(1.25);
          }
        }
      }
    }
  }
  section.choose-hld {
    background: linear-gradient(-45deg, $black, $black);
    @include background('/assets/images/choose-background.jpg');
    .choose {
      display: flex;
      h2 {
        position: absolute;
        z-index: 10;
      }
  
      h2.mode-center {
        left: 50%;
        transform: translateX(-50%);
      }
  
      h2.mode-title {
        top: 70%;
      }
  
      .mode {
        cursor: pointer;
        transition: .3s all ease-in-out;
        display: flex;
        flex: 0.5;
        margin: 30px;
        border-radius: 20px;
        filter: grayscale(1) blur(3px);
      }
  
      .mode-active {
        cursor: auto;
        filter: grayscale(0) blur(0px);
      }
  
      .finder-hld {
        @include background('/assets/images/welcome-1.jpg');
      }

      .finder-hld.mode-active {
        @include box-shadow($primary, 'large');
      }
  
      .bloger-hld {
        @include background('/assets/images/welcome-5.jpg');
      }
      .bloger-hld.mode-active {
        @include box-shadow($secondary, 'large');
      }
    }
  }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}