main.home {
  section.welcome-hld {
    .img-discover {
      position: absolute;
      width: 450px;
      bottom: -100px;
      left: 200px;
      transform-origin: bottom center;
      animation: shake-animation 4.72s ease infinite;
    }

    .bg-gradient {
      position: absolute;
      animation: slide 15s ease-in-out infinite alternate;
      background-image: linear-gradient(-80deg, rgba($accent, 0.85) 50%, rgba(darken($primary, 5%), 0.85) 50%);
      bottom: 0;
      left: -50%;
      right: -50%;
      top: 0;
      opacity: .5;
      z-index: -10;
      filter: blur(5px);
    }
    
    .bg2 {
      animation-direction: alternate-reverse;
      animation-duration: 20s;
    }
    
    .bg3 {
      position: relative;
      animation-duration: 25s;
      &::before {
        content: '';
        @include background('/assets/images/welcome-background.jpg');
        transform: skew(-10deg) scale(1.25);
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -100;
        overflow: hidden;
      }
    }
    .welcome {
      display: flex;
      margin-top: 125px;
      margin-bottom: 75px;
      position: relative;
      > div {
        flex: 0.5;
        position: relative;
      }

      .content-hld {
        .img-instagram {
          position: absolute;
          top: 10%;
          left: 45%;
          z-index: -10;
          width: 200px;
          opacity: .5;
        }
        h1 {
          padding-right: 10px;
          font-size: 2.25rem;
          font-style: italic;
        }
        .action-hld {
          position: relative;
          button {
            z-index: 10;
          }
          img {
            position: absolute;
            top: -105px;
            right: -40px;
            width: 400px;
          }
        }
      }

      .photo-hld {
        h2 {
          position: absolute;
          right: 0;
          &:nth-child(1) {
            top: 0px;
            @include float(6s, 0s);
            @include text-shadow($accent, 3px);
          } 
          &:nth-child(2) {
            top: 70px;
            @include float(6s, 0.5s);
            @include text-shadow($secondary, 3px);
          } 
          &:nth-child(3) {
            top: 140px;
            @include float(6s, 1s);
            @include text-shadow($primary, 3px);
          } 
        }

        .img-container {
          position: relative;
          overflow: hidden;
          height: 100%;
          img {
            transform: skew(10deg) scale(1.25);
          }
        }
      }
    }
  }
  section.choose-hld {
    background-color: $white;
    .choose {
      display: flex;
      margin-top: 75px;
      h2 {
        position: absolute;
        @include float(6s, 0s);
        @include text-shadow($accent, 3px);
      }
      .content-hld {
        flex: 1;
        display: flex;
        margin-top: 75px;
        > div {
          transition: .5s all cubic-bezier(.79,.26,.09,.89);
          opacity: 1;
          display: flex;
          flex: 0.5;
          justify-content: center;
          align-items: center;
          transform: translate(0, 0);
          h1 {
            color: #000;
          }
        }
      }
      .content-hld.hidden {
        > div {
          
          opacity: 0;
          &:nth-child(1) {
            transform: translate(10%, -30%);
          }
          &:nth-child(2) {
            transform: translate(-10%, 30%);
          }
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

@keyframes shake-animation {
  0% { 
    transform: rotate(3deg)
  }
  5% { 
    transform: rotate(-3deg)
  }
  10% { 
    transform: rotate(3deg)
  }
  15% {
    transform: rotate(-3deg)
  }
  20% {
    transform: rotate(3deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  100% { 
    transform: rotate(3deg)
  }
}