main.wall {
  section.filter-hld {
    height: 75vh;
    &::after {
      @include background('/assets/images/wall.jpg');
    }
    .filter {
      margin-top: 125px;
      display: flex;
      flex-direction: row;
      div {
        display: flex;
        flex: 0.5;
        align-items: center;
        padding: 5px;
        &:nth-child(1) {
          justify-content: flex-end;
        }
        &:nth-child(2) {
          
        }
        i {
          color: $accent;
        }
        input {
          font-size: 1.5rem;
        }
      }
    }
    h2 {
      position: absolute;
      left: 50%;
      bottom: 15%;
      transform: translateX(-50%);
      @include text-shadow($accent, 3px);
    }
  }
  section.listing-hld {
    height: auto;
    h2 {
      width: 100%;
    }
    .categories-hld {
      display: flex;
      flex-direction: column;
      flex: 0.5;
      align-items: flex-end;
      h2 {
        text-align: right;
      }
      .search-hld {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        i {
          color: $white;
        }
      }

      .listing {
        list-style: none;
        width: 100%;
        li {
          position: relative;
          height: 200px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          color: $white;
          cursor: pointer;
          overflow: hidden;
          .category-bg {
            transition: .2s all ease-in-out;
            @include background('/assets/'); // rewrite in render listing
            position: absolute;
            width: 100%;
            height: 100%;
            filter: grayscale(0.5);
          }
          h3 {
            z-index: 1;
            text-align: right;
          }
          &:hover {
            .category-bg {
              transform: scale(1.05);
              filter: grayscale(0);
            }
          }
        }
      }
    }
    // .person-hld {
    //   display: flex;
    //   border-bottom: 2px solid $accent;
    //   padding: 10px 0 10px 0;
    //   img {
    //     width: 100px;
    //   }
    // }
  }
}