main.wall {
  section.picker-section {
    .scroll-list {
      overflow: scroll;
      max-height: 550px;
    }

    .nav-link {
      cursor: pointer;
    }
  }
  @include media-breakpoint-down(lg) {
    section.picker-section {
      height: auto;
    }
  }
}
