main.wall {
  section.filter-hld {
    height: 75vh;
    &::after {
      @include background('/assets/images/wall.jpg');
    }
    .filter {
      margin-top: 125px;
      display: flex;
      flex-direction: row;
      div {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
    }
    h2 {
      position: absolute;
      left: 50%;
      bottom: 15%;
      transform: translateX(-50%);
      @include text-shadow($accent, 3px);
    }
  }
  section.stepper-hld {
    display: flex;
    flex: 1;
    height: auto;
    .column {
      display: flex;
      flex-direction: column;
      &:nth-child(1) {
        width: 100%;
      }
      &:nth-child(2) {
        width: 0%;
        display: none;
      }
      &:nth-child(3) {
        width: 0%
        display: none;
      }
    }
    h2 {
      width: 100%;
    }
    .search-hld {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      i {
        color: $white;
      }
    }

    .categories-hld {
      background-color: $accent;
      // transition: 1.5s all cubic-bezier(.79,.26,.09,.89);
      // display: flex;
      // flex-direction: column;
      // flex: 1;
      // align-items: flex-start;
      // background-color: $accent;
      // width: 100%;
      // h2 {
      //   text-align: left;
      // }
    }

    // .categories-hld.picked {
    //   width: 33%;
    //   flex: 0.33;
    //   .listing {
    //     li {
    //       h3 {
    //         text-align: left;
    //         left: 0%;
    //         transform: none;
    //       }
    //     }
    //   }
    // }

    .people-hld {
      background-color: $primary;
      // display: flex;
      // flex-direction: column;
      // flex: 0;
      // align-items: flex-start;
      // background-color: $primary;
    }

    .bloger-hld {
      background-color: $secondary;
      // display: flex;
      // flex: 0;
    }

    .listing {
      list-style: none;
      width: 100%;
      li {
        position: relative;
        height: 200px;
        color: $white;
        cursor: pointer;
        h3 {
          transition: 1.5s all cubic-bezier(.79,.26,.09,.89);
          position: absolute;
          min-width: 300px;
          z-index: 1;
          left: 100%;
          transform: translateX(-100%);
        }
      }
    }
  }
}