main.wall {
  section.picker-section {
    .scroll-list {
      overflow: scroll;
      max-height: 550px;
    }

    .nav-link {
      cursor: pointer;
    }

    .params {
      svg, .fabrx-chip {
        cursor: pointer;
        transition: all .3s ease-in-out;
      }
      .input-hld {
        width: 90%;
      }
    }
  }
}
