@mixin ddd($color) {
  color: lighten($color, 40%);
  text-shadow: 1px 1px 1px $color,
    1px 1px 1px darken($color, 6%),
    1px 2px 1px darken($color, 10%),
    1px 3px 1px darken($color, 14%),
    1px 4px 1px darken($color, 18%),
    1px 5px 1px darken($color, 22%),
    1px 6px 1px darken($color, 26%),
    1px 7px 1px darken($color, 30%),
    1px 8px 2px rgba(16,16,16, 0.4),
    1px 9px 4px rgba(16,16,16, 0.2),
    1px 10px 8px rgba(16,16,16, 0.2),
    1px 11px 16px rgba(16,16,16, 0.4);
}