.divider {
  height: 10px !important;
}

.divider {
  &-accent {
    background-color: rgba($accent, 0.25) !important;
  }

  &-primary {
    background-color: rgba($primary, 0.25) !important;
  }
  
  &-secondary {
    background-color: rgba($secondary, 0.25) !important;
  }
}