header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 10000;
  transition: .2s all ease-in-out;
  .ui.text.menu {
    transition: .2s all ease-in-out;
    .item {
      transition: .2s all ease-in-out;
      color: $white;
      font-weight: bold;
      margin-right: 10px;
      font-size: 1.25rem;
    }
  }
}

header.sticky {
  background: $primary;
  transition: .2s all ease-in-out;
  .ui.text.menu {
    transition: .2s all ease-in-out;
    margin: 0;
    .item {
      transition: .2s all ease-in-out;
      font-size: 1rem;
      .logo-hld {
        span {
          transition: .2s all ease-in-out;
          font-size: 2rem;
        }
      }
    }
  }
}