svg#logo {
  path.title {
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i / 3}s;
      }
    }
    animation: colorChange 3s infinite;
  }

  path.slug {
    fill: $secondary;
    animation: fadeIn 3s;
  }

  path.back-star {
    fill: $primary;
    animation: fadeIn 3s;
  }

  path.front-star, polygon.front-star {
    animation: colorChange 3s infinite;
    animation-delay: 3s;
  }
}

@keyframes colorChange {
  0%{fill: $accent}
  50%{fill: $primary}
  100%{fill: $accent}
}

@keyframes fadeIn {
  0% {opacity: 0}
  90% {opacity: 0}
  100% {opacity: 1}
}

@keyframes fadeInFast {
  0% {opacity: 0}
  99% {opacity: 0}
  100% {opacity: 1}
}
