main.first-enter {
  .stepper-hld {
    .circle-hld {
      position: relative;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    } 
    
    .step-hld::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.5em;
      border-top: 1px solid red;
      z-index: -1;
    }
  }
}