
.Toastify__toast {
  color: $primary !important;
  border: 2px solid $primary !important;
  background: $black !important;
}

.Toastify__toast--success {
  color: $success !important;
  border: 2px solid $success !important;
}
.Toastify__toast--warning {
  color: $warning !important;
  border: 2px solid $warning !important;
}
.Toastify__toast--error {
  color: $danger !important;
  border: 2px solid $danger !important;
}

.Toastify__toast-body {
  color: $white !important;
}

.Toastify__progress-bar {
  background: $primary !important;
}

.Toastify__progress-bar--success {
  background: $success !important;
}

.Toastify__progress-bar--warning {
  background: $warning !important;
}

.Toastify__progress-bar--error {
  background: $danger !important;
}
