h1, h2, h3, h4, h5, h6 {
  color: $white;
}

.skew {
  transform: skew(-10deg);
}

.bg-accent {
  background-color: $accent !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.round {
  border-radius: 20px;
}

.ddd {
  &-accent {
    @include ddd($accent);
  }
  
  &-primary {
    @include ddd($primary);
  }

  &-secondary {
    @include ddd($secondary);
  }
}
