h1, h2, h3, h4, h5, h6 {
  color: $white;
}

.bg-accent {
  padding: 10px;
  background-color: $accent !important;
}

.bg-primary {
  padding: 10px;
  background-color: $primary !important;
}

.bg-secondary {
  padding: 10px;
  background-color: $secondary !important;
}

.shadow {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.round {
  border-radius: 20px;
}

.ddd {
  &-accent {
    @include ddd($accent);
  }
  
  &-primary {
    @include ddd($primary);
  }

  &-secondary {
    @include ddd($secondary);
  }
}

.parallax::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  transform: translateZ(-1px) scale(1.7);
  z-index: -1;
}

.text {
  color: $white;
}

.text-accent {
  @include text-shadow($accent, 3px);
}

.text-primary {
  @include text-shadow($primary, 3px);
}

.text-secondary {
  @include text-shadow($secondary, 3px);
}