// ui kit
@import './uikit/main.scss';

// mixins
@import './mixins/respo-font';
@import './mixins/background';
@import './mixins/box-shadow';
@import './mixins/text-shadow';
@import './mixins/float';
@import './mixins/ddd';

// components
@import './components/logo';
@import './components/stars';
@import './components/parallax';

// pages 
@import './pages/index';


body {

}

main {
  // if you want parallax move header && footer to main
  // height: 100vh;
  // overflow-x: hidden;
  // overflow-y: auto;
  // perspective: 2px;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.ddd-primary {
  @include ddd($primary);
}

.ddd-accent {
  @include ddd($accent);
}
