// ui kit
@import './uikit/main.scss';

// mixins
@import './mixins/respo-font';
@import './mixins/background';
@import './mixins/box-shadow';
@import './mixins/text-shadow';
@import './mixins/float';
@import './mixins/ddd';

// components
@import './components/logo';
@import './components/stars';
@import './components/parallax';
@import './components/stepper';
@import './components/toast';
@import './components/toggler';
@import './components/accordion';
@import './components/react-select';

// pages
@import './pages/index';
@import './pages/wall';
@import './pages/profile';

header {
  padding: 20px 0 20px 0 !important;
  margin-top: 5.5rem !important;
}

section {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.ddd-primary {
  @include ddd($primary);
}

.ddd-accent {
  @include ddd($accent);
}

