@import './reset';
@import './vars';

// mixins
@import './mixins/respo-font';
@import './mixins/background';
@import './mixins/box-shadow';
@import './mixins/text-shadow';
@import './mixins/float';
@import './mixins/ddd';

// common classes
@import './common';

// components
@import './components/header';
@import './components/button';
@import './components/divider';
@import './components/logo';

// pages 
@import './pages/index';


html, body {
  @include respo-font(16, 30, 300, 1500);
  background-color: $primary;
}

main {
  height: 100vh;
  overflow-x: hidden;
  perspective: 2px;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@import './respo';
