// ui kit
@import './uikit/main.scss';

// mixins
@import './mixins/respo-font';
@import './mixins/background';
@import './mixins/box-shadow';
@import './mixins/text-shadow';
@import './mixins/float';
@import './mixins/ddd';
@import './mixins/half-text';

// components
@import './components/logo';
@import './components/stars';
@import './components/stepper';
@import './components/toast';
@import './components/toggler';
@import './components/accordion';
@import './components/react-select';
@import './components/details';

// pages
@import './pages/index';
@import './pages/wall';
@import './pages/profile';

body.modal-open {
  min-height: 100vh;
  overflow-y: hidden;
}

header {
  padding: 20px 0 20px 0 !important;
  padding-top: 5.5rem !important;
}

section {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.ddd-primary {
  @include ddd($primary);
}

.ddd-accent {
  @include ddd($accent);
}

.langs {
  left: 25px;
  border: 1px solid $primary;
  padding: 5px;
  li, span, ul {
    text-transform: uppercase;
  }
  ul {
    min-width: 40px !important;
    max-width: 40px !important;
  }
}

@import 'respo';
