// ui kit
@import './uikit/main.scss';

// mixins
@import './mixins/respo-font';
@import './mixins/background';
@import './mixins/box-shadow';
@import './mixins/text-shadow';
@import './mixins/float';
@import './mixins/ddd';

// components
@import './components/logo';

// pages 
@import './pages/index';


html, body {
  // @include respo-font(16, 30, 300, 1500);
  // background-color: $primary;
}

// main {
//   height: 100vh;
//   overflow-x: hidden;
//   perspective: 2px;
// }

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
}

.ddd-primary {
  @include ddd($primary);
}

.ddd-accent {
  @include ddd($accent);
}
